.acceder{
  width: 100%;
  text-align: center;
  background-color: #26a69a;
  color: white;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

.modal .modal-footer{
  padding: 0;
    margin: 0;
    height: 40px;
}
.sinmar{
    height: 100%;
    vertical-align: middle;
    text-align: center;
    padding-top: 8px;
    font-size: 1.2em;
    /* padding-top: 40px; */
}

.nof{
  margin: 0;
}
