#fotos{
    padding-left: 100px;
    padding-bottom: 75px;
}

.polaroid {
  position: relative;
  display: inline-block;
}

.polaroid > img {
    margin: 10px;
    width: 450px;
    height: 250px;
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 0px 3px 3px #777;
    -moz-box-shadow: 0px 3px 3px #777;
    box-shadow: 0px 3px 3px #777;
}

.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 25px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}